.card {
    width: 100%;
    height: 200px;
    border-radius: 15px;
    background-color: var(--pre-middle);
    overflow: hidden;
    z-index: 1;
}

.recipe_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    position: relative;
    transition: transform 0.3s ease-in;
}

.card::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
    z-index: 2;
    border-radius: 0 0 15px 15px;
    transition: all 0.3s ease-in;
}

.card:hover::after {
    height: 70%;
}

.card:hover .recipe_img {
    transform: scale(1.1);
}

.caption_wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    color: var(--most-light);
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.caption_wrap img {
    width: 15px;
    height: 15px;
}

.caption {
    transition: color 0.3s ease-in;
}

.caption:hover {
    color: #9ed181;
}
