.header {
    background-color: var(--calm-light);
}

.header_wrap {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #609966;
    font-family: var(--protest-riot);
}

.logo strong {
    font-size: 24px;
}

.category_list {
    display: flex;
    gap: 20px;
    font-weight: 500;
    transition: all 0.3s ease-in;
}

.category_list li a {
    transition: all 0.2s ease-in;
}

.category_list li a:hover {
    cursor: pointer;
    color: var(--middle);
}

.menu {
    cursor: pointer;
    display: none;
}

.menu img {
    width: 35px;
    height: 35px;
}

@media (max-width: 1050px) {
    .header_wrap {
        padding: 10px 25px;
    }
}

@media (max-width: 550px) {
    .category_list {
        display: none;
    }
    .menu {
        display: flex;
    }
}
