.search {
    text-align: center;
    margin-top: 20px;
}

input {
    min-width: 400px;
    background-color: var(--pre-middle);
    border: 2px solid var(--medium-light);
    color: #294b29;
    font-weight: 600;
    padding: 10px 45px 10px 25px;
    border-radius: 30px;
    font-size: 17px;
    transition: all 0.3s ease-in-out;
}

input::placeholder {
    color: #86a789;
}

input:focus {
    outline: none;
    border-color: #609966;
    box-shadow: 0 0 5px #2e5d33;
}

@media (max-width: 450px) {
    input {
        min-width: 320px;
    }
}
